# Environment files
*.env
*.env.*
-e

# Node modules
frontend/node_modules*
tests/e2e/node_modules*

# Pycache
__pycache__/
.pytest_cache/

# Test Reports
test-results/
test_reports/
junit.xml
frontend/coverage/
*.sarif

# Build artifacts
frontend/build/
*.pyc

# Logs
*.log

# Playwright
tests/e2e/test-results/
tests/e2e/playwright-report/
tests/e2e/blob-report/

# OS files
.DS_Store
Thumbs.db